adfyahoo/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfyahoo"
		},
		"ls_azurefunction_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'ls_azurefunction'"
		},
		"ls_azurefunction_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().function_app_url}"
		},
		"ls_azurekeyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://azrickdaymankeyvault.vault.azure.net/"
		},
		"ls_azureblobstorage_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "kvazrickdaymanstorage"
		},
		"ls_azuresqldatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "@{linkedService().server_name}"
		},
		"ls_azuresqldatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().database_name}"
		},
		"ls_azuresqldatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "azrickdaymanlogin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_azurefunction')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"function_app_url": {
						"type": "string",
						"defaultValue": "https://azrickdaymanfunction.azurewebsites.net"
					}
				},
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ls_azurefunction_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('ls_azurefunction_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azurekeyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_azurekeyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azureblobstorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azurekeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_azureblobstorage_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azurekeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azuresqldatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"server_name": {
						"type": "string",
						"defaultValue": "azrickdaymanserver.database.windows.net"
					},
					"database_name": {
						"type": "string",
						"defaultValue": "YAHOO"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_azuresqldatabase_properties_typeProperties_server')]",
					"database": "[parameters('ls_azuresqldatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_azuresqldatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azurekeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "kvazrickdaymansqlstocks"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azurekeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresqldatabase')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresqldatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"server_name": "azrickdaymanserver.database.windows.net",
						"database_name": "YAHOO"
					}
				},
				"parameters": {
					"schema_name": {
						"type": "string",
						"defaultValue": "etl"
					},
					"table_name": {
						"type": "string",
						"defaultValue": "dw_processing"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresqldatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azureblobstorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"storage_container": {
						"type": "string",
						"defaultValue": "azrickdaymanyahoo"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": {
							"value": "@dataset().storage_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azureblobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_etl_dw_processing_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azuresqldatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"server_name": "azrickdaymanserver.database.windows.net",
						"database_name": "YAHOO"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "etl",
					"table": "dw_processing"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresqldatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_etl_dw_processing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup etl_dw_processing table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.1:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT\t\t*\n\t\t\t,ISNULL((SELECT MAX(run_id) + 1 AS run_id FROM etl.dw_logging), 1) AS run_id\nFROM\t\tetl.dw_processing\n--WHERE       run_order <= 2\nORDER BY\trun_order",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_etl_dw_processing_table",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate over dw_processing table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup etl_dw_processing table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup etl_dw_processing table').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Activity type",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().activity_type",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "Query",
												"activities": [
													{
														"name": "run logging query start",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 3,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[etl].[logging_step]",
															"storedProcedureParameters": {
																"run_id": {
																	"value": {
																		"value": "@item().run_id",
																		"type": "Expression"
																	},
																	"type": "Int32"
																},
																"step_id": {
																	"value": {
																		"value": "@item().run_order",
																		"type": "Expression"
																	},
																	"type": "Int16"
																},
																"step_name": {
																	"value": {
																		"value": "@item().activity_type",
																		"type": "Expression"
																	},
																	"type": "String"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "ls_azuresqldatabase",
															"type": "LinkedServiceReference",
															"parameters": {
																"server_name": "azrickdaymanserver.database.windows.net",
																"database_name": "YAHOO"
															}
														}
													},
													{
														"name": "Query",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "run logging query start",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderQuery": {
																	"value": "@item().source_details",
																	"type": "Expression"
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"sink": {
																"type": "AzureSqlSink",
																"preCopyScript": {
																	"value": "@{concat('DROP TABLE IF EXISTS ',item().destination_table_name)}",
																	"type": "Expression"
																},
																"writeBehavior": "insert",
																"sqlWriterUseTableLock": false,
																"tableOption": "autoCreate",
																"disableMetricsCollection": false
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_azuresqldatabase",
																"type": "DatasetReference",
																"parameters": {
																	"schema_name": "etl",
																	"table_name": "dw_processing"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_azuresqldatabase",
																"type": "DatasetReference",
																"parameters": {
																	"schema_name": "@split(item().destination_table_name,'.')[0]",
																	"table_name": "@split(item().destination_table_name,'.')[1]"
																}
															}
														]
													},
													{
														"name": "run logging query end",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "Query",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 3,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[etl].[logging_step]",
															"storedProcedureParameters": {
																"run_id": {
																	"value": {
																		"value": "@item().run_id",
																		"type": "Expression"
																	},
																	"type": "Int32"
																},
																"step_id": {
																	"value": {
																		"value": "@item().run_order",
																		"type": "Expression"
																	},
																	"type": "Int16"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "ls_azuresqldatabase",
															"type": "LinkedServiceReference",
															"parameters": {
																"server_name": "azrickdaymanserver.database.windows.net",
																"database_name": "YAHOO"
															}
														}
													}
												]
											},
											{
												"value": "AzureFunction",
												"activities": [
													{
														"name": "run logging azf start",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 3,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[etl].[logging_step]",
															"storedProcedureParameters": {
																"run_id": {
																	"value": {
																		"value": "@item().run_id",
																		"type": "Expression"
																	},
																	"type": "Int32"
																},
																"step_id": {
																	"value": {
																		"value": "@item().run_order",
																		"type": "Expression"
																	},
																	"type": "Int16"
																},
																"step_name": {
																	"value": {
																		"value": "@concat('Run azure function ' ,item().source_details)",
																		"type": "Expression"
																	},
																	"type": "String"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "ls_azuresqldatabase",
															"type": "LinkedServiceReference",
															"parameters": {
																"server_name": "azrickdaymanserver.database.windows.net",
																"database_name": "YAHOO"
															}
														}
													},
													{
														"name": "Azure Function",
														"type": "AzureFunctionActivity",
														"dependsOn": [
															{
																"activity": "run logging azf start",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"functionName": {
																"value": "@item().source_details",
																"type": "Expression"
															},
															"headers": {},
															"method": "GET"
														},
														"linkedServiceName": {
															"referenceName": "ls_azurefunction",
															"type": "LinkedServiceReference",
															"parameters": {
																"function_app_url": {
																	"value": "@item().source_server_name",
																	"type": "Expression"
																}
															}
														}
													},
													{
														"name": "run logging azf end",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "Azure Function",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 3,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[etl].[logging_step]",
															"storedProcedureParameters": {
																"run_id": {
																	"value": {
																		"value": "@item().run_id",
																		"type": "Expression"
																	},
																	"type": "Int32"
																},
																"step_id": {
																	"value": {
																		"value": "@item().run_order",
																		"type": "Expression"
																	},
																	"type": "Int16"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "ls_azuresqldatabase",
															"type": "LinkedServiceReference",
															"parameters": {
																"server_name": "azrickdaymanserver.database.windows.net",
																"database_name": "YAHOO"
															}
														}
													}
												]
											},
											{
												"value": "BlobCSV",
												"activities": [
													{
														"name": "run logging blob csv start",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 3,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[etl].[logging_step]",
															"storedProcedureParameters": {
																"run_id": {
																	"value": {
																		"value": "@item().run_id",
																		"type": "Expression"
																	},
																	"type": "Int32"
																},
																"step_id": {
																	"value": {
																		"value": "@item().run_order",
																		"type": "Expression"
																	},
																	"type": "Int16"
																},
																"step_name": {
																	"value": {
																		"value": "@concat('Load csv ' ,item().source_details)",
																		"type": "Expression"
																	},
																	"type": "String"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "ls_azuresqldatabase",
															"type": "LinkedServiceReference",
															"parameters": {
																"server_name": "azrickdaymanserver.database.windows.net",
																"database_name": "YAHOO"
															}
														}
													},
													{
														"name": "Blob csv",
														"type": "Copy",
														"dependsOn": [
															{
																"activity": "run logging blob csv start",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": true,
																	"wildcardFileName": {
																		"value": "@item().source_details",
																		"type": "Expression"
																	},
																	"enablePartitionDiscovery": false
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "AzureSqlSink",
																"preCopyScript": "TRUNCATE TABLE stg.yfinance_daily_stock_prices",
																"writeBehavior": "insert",
																"sqlWriterUseTableLock": false,
																"tableOption": "autoCreate",
																"disableMetricsCollection": false
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "ds_blob_csv",
																"type": "DatasetReference",
																"parameters": {
																	"storage_container": "@item().source_database_name"
																}
															}
														],
														"outputs": [
															{
																"referenceName": "ds_azuresqldatabase",
																"type": "DatasetReference",
																"parameters": {
																	"schema_name": {
																		"value": "@split(item().destination_table_name,'.')[0]",
																		"type": "Expression"
																	},
																	"table_name": "@split(item().destination_table_name,'.')[1]"
																}
															}
														]
													},
													{
														"name": "run logging blob csv end",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "Blob csv",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 3,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[etl].[logging_step]",
															"storedProcedureParameters": {
																"run_id": {
																	"value": {
																		"value": "@item().run_id",
																		"type": "Expression"
																	},
																	"type": "Int32"
																},
																"step_id": {
																	"value": {
																		"value": "@item().run_order",
																		"type": "Expression"
																	},
																	"type": "Int16"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "ls_azuresqldatabase",
															"type": "LinkedServiceReference",
															"parameters": {
																"server_name": "azrickdaymanserver.database.windows.net",
																"database_name": "YAHOO"
															}
														}
													}
												]
											},
											{
												"value": "StoredProcedure",
												"activities": [
													{
														"name": "run logging sp start",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 3,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[etl].[logging_step]",
															"storedProcedureParameters": {
																"run_id": {
																	"value": {
																		"value": "@item().run_id",
																		"type": "Expression"
																	},
																	"type": "Int32"
																},
																"step_id": {
																	"value": {
																		"value": "@item().run_order",
																		"type": "Expression"
																	},
																	"type": "Int16"
																},
																"step_name": {
																	"value": {
																		"value": "@concat('Run proc ' ,item().source_details)",
																		"type": "Expression"
																	},
																	"type": "String"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "ls_azuresqldatabase",
															"type": "LinkedServiceReference",
															"parameters": {
																"server_name": "azrickdaymanserver.database.windows.net",
																"database_name": "YAHOO"
															}
														}
													},
													{
														"name": "Run SP",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "run logging sp start",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": {
																"value": "@item().source_details",
																"type": "Expression"
															}
														},
														"linkedServiceName": {
															"referenceName": "ls_azuresqldatabase",
															"type": "LinkedServiceReference",
															"parameters": {
																"server_name": "azrickdaymanserver.database.windows.net",
																"database_name": "YAHOO"
															}
														}
													},
													{
														"name": "run logging sp end",
														"type": "SqlServerStoredProcedure",
														"dependsOn": [
															{
																"activity": "Run SP",
																"dependencyConditions": [
																	"Succeeded"
																]
															}
														],
														"policy": {
															"timeout": "0.1:00:00",
															"retry": 3,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"storedProcedureName": "[[etl].[logging_step]",
															"storedProcedureParameters": {
																"run_id": {
																	"value": {
																		"value": "@item().run_id",
																		"type": "Expression"
																	},
																	"type": "Int32"
																},
																"step_id": {
																	"value": {
																		"value": "@item().run_order",
																		"type": "Expression"
																	},
																	"type": "Int16"
																}
															}
														},
														"linkedServiceName": {
															"referenceName": "ls_azuresqldatabase",
															"type": "LinkedServiceReference",
															"parameters": {
																"server_name": "azrickdaymanserver.database.windows.net",
																"database_name": "YAHOO"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-05-07T23:15:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_etl_dw_processing_table')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azuresqldatabase')]",
				"[concat(variables('factoryId'), '/datasets/ds_azuresqldatabase')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azurefunction')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob_csv')]"
			]
		}
	]
}